.header{
    background: #000;
}

.header__inner{
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1400px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__logo img{
    height: 40px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 8px 10px;
}

.search-form {
    width: 500px;
    padding: 10px;
    margin: 0 70px;
}

.search-form__input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.search-form button {
    display: none;
}


.header-nav__list {
    display: flex;
    align-items: center;
}

.header-nav__item a:not(.header__sell--button),
.logout__button {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.logout__button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}

.header__sell--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.header-nav__item .header__sell--button {
    color: #000 !important;
    background: #fff !important;
}