.edit_address--content{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 40px;
}

.content__heading{
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.edit_address-form{
    width: 50%;
    margin: 0 auto;
}

.address-form__group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.address-form__label{
    text-align: left;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.address-form__input{
    padding: 10px 15px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    width: 100%;
}

.form__error {
    color: red;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    width: 100%;
    color: #fff;
    background: #f82a5a;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}